<div class="container-fluid sub-page-content">
<h1 class="sub-page-title">About</h1>
<section id="section-one">
  <h2><span class="section-underline">Who We </span>Are</h2>
 <div class="row">
  <div class="col-md-9">
     <p>Baltimore Boats is Maryland's #1 pre-owned boat dealership. Our certified boat-technicians inspect and repair all of our boats before they're listed here on the website. We also offer both on and off site repair services, maintenance and state inspection. Whether you are an seasoned sailer or new to the boat-scene we are sure to have something in-stock to suite all needs, budgets and styles! Speak to one of our sales associates today and let us help you get into the boat of your dreams!
      </p></div>
  <div class="col-md-3">
     <p class="aside">Looking to sell your boat? We're looking to buy! We buy boats in all conditions, we'll even buy it off of you if it doesn't even float! Our team of professional divers can recover your boat from the bottom of the Chesapeake!!!</p></div>
 </div>
</section>
<section id="section-two">
 <h2 class="section-two-heading"><span class="section-underline">Why We're Th</span>e Best</h2>
 <div id="section-two-container">
  <div class="row">
    <div class="col-sm">
        <div class="col-top">
            <%= image_tag("repair.jpg", :class => "about-img") %>
         </div>
        <div class="col-base">
         <p>Haul it in or we'll come to you! Our team of certified boat technicians are the best in the business. </p>
        </div>
    </div>
    <div class="col-sm">
         <div class="col-top">
            <%= image_tag("sales.jpg", :class => "about-img") %>
         </div>
        <div class="col-base">
         <p>Quality, knowledge service is our bread and butter. World class salesmen and sailors! Our sales team is top notch! </p>
        </div>
    </div>
    <div class="col-sm">
         <div class="col-top">
            <%= image_tag("history.jpg", :class => "about-img") %>
         </div>
        <div class="col-base">
         <p>With 135 years of experience in the used boat business, Baltimore Boats is a name you can trust!</p>
        </div>
    </div>
  </div>
</div>
</section>
</div>