<div class="container-fluid sub-page-content">
  <div class="thanks">
    <h3>Thanks for contacting us!</h3>
    <p>We have received your message and will respond as soon as possible.</p>
  </div>
</div>