<div class="container-fluid">
    <h1 class="page-title">Orders</h1>
</div>
<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm order-box">
      <h2>
        Order # <%= order.id %>:
        <%= link_to order.product.name, order %>
      </h2>
      <p><%= order.product.description %></p>
      <strong>$ <%= order.product.price %></strong>
    </div><!-- /col -->
  <% end %>
</div>