// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    overflow-x: hidden;
    margin: 0 0 0 0;
    background-image: image-url('bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

h1, h2, h3, {
    font-family: Roboto;
    color: black;
    letter-spacing: 0.9px;
    text-align: left;
    line-height: 28px;
}
h2 {
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: left;
}
a {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: black;
}
#section-one {
    margin: 4% 6% 0 6%;
}
.section-two-heading {
    margin: 0% 0% 0 6%;
}
#section-two {

}
#section-two-container {
    margin: 0 1% 0 1%;
}
.col-sm {
    margin: 3% 3% 2% 3%;
    padding: 0% 3% 0 3%;
    background-color: FFFFFF;
    height: 332px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
}
.col-base {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
  background-color: #317A7B;
  width: 100%;
  height: 76px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.col-base p {
  margin: 4% 3% 2% 3%;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: left;
  line-height: 18px;
}
.section-underline {
    border-bottom: 3px solid #4A4A4A;
    padding-bottom: 6px;
}
p  {
    padding: 2% 0 0 0;
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 0;
    letter-spacing: 0;
    line-height: 22px;
}
.aside {
    font-size: 14px;
    color: #9B9B9B;
    text-align: left;
    line-height: 20px;
}
.logo-line {
    color: #FFFFFF;
    font-size: 25px;
    text-decoration: underline;
    font-weight: 400;
}
#nav-name {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
}
.mr-sm-2 {
    font-size: 12px;
}
.btn-outline-secondary {
    font-size: 12px;
    color: white;
    border-color: white;
}
.product-search {

}
a:hover {
    background: none;
    text-decoration: none;
}
/* Nav Bar */
nav {
  margin: 2% 8% 0% 8%;
  padding: 0 0 5% 0;
  .navbar-brand {font-size: 30px;}
  .navbar-toggle {margin: 0 0 0 0;}
   a {
     font-size: 16px;
     padding-bottom: 20px !important;
     padding-top: 20px !important;
     transition: all 0.3s ease;
	 }
}
.navbar-nav {
    color: white;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}
nav.navbar.shrink {
  background-image: linear-gradient(-225deg, #204D4E 0%, #4D0D2B 100%);
  margin: 0 0% 0 0%;
  padding: 0 3.5% 0 3.5%;
  min-height: 35px;
 .logoline {font-size: 20px;}
  a {
    font-size: 14px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }
  .navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
  }
}
.page-content {
    padding: 5% 0 0 0;
}

/* End Nav */
.alert-warning {
    background: none;
    border: none;
    text-align: center;
    color: red;
}
.my-image {
    width: 80%;
}
footer {
    margin-top: 5%;
    width: 100%;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    line-height: 18px;
    background: #4A4A4A;
}
.login-footer {
    font-size: 1.2em;
    padding-right: 4%;
    text-align: right;
}
#carousel-wrapper {
    margin: 3% 2.5% 0 2.5%;
    padding-top: 7%;
}
.carousel  {
    margin: 0 0% 0 0%;
    padding: 0 0% 0 0%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
}
.carousel-item  {
}

.carousel-item img {
    width: 100%;
}
carousel-control-next {
    
}
.carousel-caption {
    margin: 0 30% 0 30%;
    background: rgba(74, 74, 74, 0.5);
    color: white;
    font-weight: 600;
}
.carousel-indicators li {
  margin: 0 1.5% 0 1.5%;
  bottom: -70px;
  background-color: rgba(49,122,123,0.25);
  width: 10px;
  height: 10px;
  border-radius: 15px;
}
.carousel-indicators li.active {
  background-color: #317A7B;
}
/* Stying for Orders */
.order-box {
    padding: 2%;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}
.page-title {
    margin: 0 auto;
    color: white;
    font-size: 2em;
    text-align: center;
    padding-bottom: 1%;
}
.sub-page-title {
    margin: 0 auto;
    color: black;
    font-size: 2em;
    text-align: center;
    padding-bottom: 1%;
}
/* Styling for Products */
.add-new {
    text-align: center;
    padding: 5%;
}
.add-new a {
    color: black;
    text-decoration: underline;
    padding: 2%;
}
.product-page {
    padding-top: 6%;
}
.products-table {
    padding: 2%;
    margin-bottom: 10%;
}
.products-table a {
    color: black;
    text-decoration: underline;
}
.edit {
    text-align: center;
}
.edit ul {
    list-style: none;
    text-align: left;
}
.modify-product-link a{
    font-size: 12px;
    color: #666;
}
.modify-product-link a:hover {
    color: black;
}
.show-product-image {
    
}
.edit ul {
    padding: 0;
}

.product-reviews {
    text-align: left;
}
.img-thumbnail {
    width: 100%;
}
.pagination {
    text-align: center;
    display: inherit;
}
.pagination a:visited {
    color: black;
}
.pagination a:hover {
    color: purple;
}
.disabled {
    color: darkgray;
}
em.current {
    color: purple;
}
/* Sub-Pages */

.sub-page-content {
    background-color: white;
    margin-top: 10%;
    padding-top: 5%;
}
.thanks {
    text-align: center;
    min-height: 400px;
}
.thanks h3 {
    text-align: center;
}
.contact-form-container {
   margin: 0 10%;
}
contact-row{
   margin: 0 auto;
   width: 100%;
}
.contact-page-content {
    margin: 0 auto;
}
.contact-form-container a {
    color: black;
}
.contact-form-container a:hover {
    color: gray;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo-line {

    }
nav {
    margin: 0 0 0 0;        
}
.page-content {
    padding: 12% 0 0 0;
} 
.navbar-nav a {
    color: #FFFFFF;
    background-color: #335e63d1;
    text-align: center;
}
nav.navbar.shrink .nav-link {
    background-image: linear-gradient(-225deg, #204D4E 0%, #4D0D2B 100%);
}
#search-navbar{
    display: none;
    }
.img-thumbnail {
    width: 100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
     .logo-line {

    }
nav {
    margin: 2% 8% 0% 8%;       
}
.page-content {
    padding: 8% 0 0 0;
}     
.navbar-nav a {
    color: #FFFFFF;
    background-color: #335e63d1;
    text-align: center;
}
nav.navbar.shrink .nav-link {
    background-image: linear-gradient(-225deg, #204D4E 0%, #4D0D2B 100%);
}
#search-navbar{
    display: none;
    }
.img-thumbnail {
    width: 100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo-line {

    }
.page-content {
    padding: 6% 0 0 0;
}    
#search-navbar{
    display: inherit;
    }
#search-dropdown {
    display: none;
    }
.img-thumbnail {
    width: 100%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo-line {

    }
.page-content {
    padding: 3% 0 0 0;
}
.navbar-nav {
    margin-right: 8%;
    }
.nav.navbar.shrink {
    margin-right: 0%;    
}
.navbar-nav a {
    color: #FFFFFF;
    background-color: transparent;
    text-align: center;
    margin: 0 2%;
}
nav.navbar.shrink .nav-link {
    background-image: none;
}
.mr-sm-2 {
    font-size: 12px;
}
.img-thumbnail {
    width: 100%;
}
}