
      <div class="col-lg-3 col-md-4 col-sm-6 order-box">
        <%= image_tag(product.image_url, class: "img-fluid") %>
        <a href="#"><h2><%= product.name %></h2></a>
        <p><%= product.description %></p>
        <strong>$<%= product.price %></strong>
      </div><!-- /col -->
