
      <div class="col-sm">
        <%= image_tag(product.image_url, class: "img-fluid") %>
        <a href="#"><h1><%= product.name %></h1></a>
        <p><%= product.description %></p>
        <strong>$<%= product.price %></strong>
      </div><!-- /col -->
