<div class="container-fluid sub-page-content">
    <h1 class="sub-page-title">Edit Product</h1>
    <div class="container-fluid products-table edit">
        <%= render 'form', product: @product %>
        <%= link_to 'Show', @product %> |
        <%= link_to 'Back', products_path %>
    </div>
</div>