<div class="container-fluid sub-page-content">
    <h1 class="sub-page-title">New Product</h1>
    <div class="container-fluid products-table edit">
        <div class="col-10 col-sm-6 col-md-5 col-lg-4">
        <%= render 'form', product: @product %>
        <%= link_to 'Back', products_path %>
        </div>
    </div>
</div>
